.process-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* padding: 3rem 3rem; */
    padding-top: 48px;
    padding-bottom: 20px;
    padding-left: 48px;
    padding-right: 48px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.right-pane,
.editor-pane{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.workspace{
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 252 , 225);
    height: 600px;
    border-radius: 41px;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 15px;
}
.Doc-button,
.Live-button,
.convert-button{
    color: black;
    background-color: rgb(255, 252 , 225);
    border-radius: 11px;
    font-size: 28px;
    font-family: "Blockblueprint";
    width: 100%;
    max-width: 450px;
    padding: 4px 8px;
    border-style: solid;
    border-color:rgb(255, 252 , 225);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-width 0.1s;
}
.convert-button{
  opacity: 0;
}
.Doc-button{
    background-color: rgb(97, 170, 101);
    color: rgb(255, 252 , 225);
    border-color: rgb(97, 170, 101);
    transition: background-color 0.3s, color 0.3s, border-width 0.1s;
}
.Doc-button:hover{
  background-color: rgb(14,16,15);
  color: rgb(97, 170, 101);
  border-color:rgb(97, 170, 101);
}
.Live-button{
    background-color: rgb(255, 135, 9);
    color: rgb(255, 252 , 225);
    border-color: rgb(255, 135, 9);
}
.Live-button:hover{
  background-color: rgb(14,16,15);
  color: rgb(255, 135, 9);
  border-color:rgb(255, 135, 9);
}
.convert-button:hover{
  background-color: rgb(14,16,15);
  color: rgb(255, 252 , 225);
  border-color: rgb(255, 252 , 225);
}
.demo-live{
    width: 600px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 252 , 225);
    height: 600px;
    border-radius: 41px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-color: rgb(59, 59, 59) transparent;
    scrollbar-width: none;
}
.editor-heading{
    font-family: "Blockblueprint";
    font-size: 35px;
    color: rgb(255, 252 , 225);
}

.docmode-container,
.liveMode-container {
  scrollbar-width: none;
  scrollbar-color: rgb(255, 135, 9) transparent;
}