body{
    background-color: rgb(14, 16, 15);
    margin: 0;
}

@font-face {
    font-family: Blockblueprint;
    src: url(./CodeDoc/src/assets/fonts/Blockblueprint-LV7z5.ttf);
}
p{
    margin: 0;
    font-family: "Blockblueprint";
}
@font-face {
    font-family: PressStart2P-Regular;
    src: url(/CodeDoc/public/fonts/PressStart2P-Regular.ttf);
}